Run: diag-a-account-only-1.0.0
Result: Crash when searching `diagtester`
Crash log:
```"Deprecation warning: value provided is not in a recognized RFC2822 or ISO format. moment construction falls back to js Date(), which is not reliable across all browsers and versions. Non RFC2822/ISO date formats are discouraged. Please refer to http:…"
"TypeError: Cannot read properties of undefined (reading 'toLowerCase')"
componentStack" at ahl (file:///S:/SteamLibrary/steamapps/common/Hackhub/resources/app.asar/dist/assets/index.js:166770:130402) at div at div at div at div at bdl (file:///S:/SteamLibrary/steamapps/common/Hackhub/resources/app.asar/dist/asse…"```

---

Run: diag-b-linked-1.0.0
Result: Crash when searching `diagtester`
Crash log:
```"Deprecation warning: value provided is not in a recognized RFC2822 or ISO format. moment construction falls back to js Date(), which is not reliable across all browsers and versions. Non RFC2822/ISO date formats are discouraged. Please refer to http:…"
"TypeError: Cannot read properties of undefined (reading 'toLowerCase')"
componentStack" at ahl (file:///S:/SteamLibrary/steamapps/common/Hackhub/resources/app.asar/dist/assets/index.js:166770:130402) at div at div at div at div at bdl (file:///S:/SteamLibrary/steamapps/common/Hackhub/resources/app.asar/dist/asse…"```

---

Run: diag-c-empty-accountid-1.0.0
Result: Crash when searching `diagtester`
Crash log:
```"Deprecation warning: value provided is not in a recognized RFC2822 or ISO format. moment construction falls back to js Date(), which is not reliable across all browsers and versions. Non RFC2822/ISO date formats are discouraged. Please refer to http:…"
"TypeError: Cannot read properties of undefined (reading 'toLowerCase')"
componentStack" at ahl (file:///S:/SteamLibrary/steamapps/common/Hackhub/resources/app.asar/dist/assets/index.js:166770:130402) at div at div at div at div at bdl (file:///S:/SteamLibrary/steamapps/common/Hackhub/resources/app.asar/dist/asse…"```

---

Run: diag-d-no-account-1.0.0
Result: Crash when searching `diagtester`
Crash log:
```"Deprecation warning: value provided is not in a recognized RFC2822 or ISO format. moment construction falls back to js Date(), which is not reliable across all browsers and versions. Non RFC2822/ISO date formats are discouraged. Please refer to http:…"
"TypeError: Cannot read properties of undefined (reading 'toLowerCase')"
componentStack" at ahl (file:///S:/SteamLibrary/steamapps/common/Hackhub/resources/app.asar/dist/assets/index.js:166770:130402) at div at div at div at div at bdl (file:///S:/SteamLibrary/steamapps/common/Hackhub/resources/app.asar/dist/asse…"```
